*~
/bin
/obj
/img
/Makefile.in
/Makefile
/aclocal.m4
/autom4te.cache
/compile
/config.h.in
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/src/.deps/
/src/Makefile.in
/src/*.o
/src/test
/config.log
/config.status
/config.h
/src/Makefile
