*~
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache
/bin
/build-aux
/check-rrb
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/img
/install-sh
/libtool
/missing
/obj
/src/*.a
/src/*.o
/src/.deps/
/src/Makefile
/src/Makefile.in
/src/test
/stamp-h1
/test-driver
/test-suite/.deps
/test-suite/Makefile
/test-suite/Makefile.in
/confdefs.h
